<!DOCTYPE html>
<html>
  <head>
    <title>Thirdframe</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Pacifico" rel="stylesheet">

  </head>
  
  <body>
    <div class="top-nav">
      <div class="col-10 offset-1 col-sm-8 offset-sm-2 col-md-6 offset-md-3">

        <div class="brand">
          <%= link_to "ThirdFrame", root_path %>
        </div>

        <div class="add">
          <% if current_user %>
            Welcome <%= current_user.email %>.
            <%= link_to "New Post", new_frame_path %>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "Sign In", new_user_session_path %>
            <%= link_to "Sign Up", new_user_registration_path %>      
          <% end %>  
          
          <br />
          
          <% if notice.present? %>
            <p class="alert alert-info"><%= notice %></p>
          <% end %>

          <br />
          
          <% if alert.present? %>
            <p class="alert alert-danger"><%= alert %></p>
          <% end %>
        </div>
      </div>
      
      <br class="clear-fix" />

    </div>  
    
    <%= yield %>
  </body>
</html>
